# Subgraph URL - set this after deploying your subgraph
# The Graph Studio: https://api.studio.thegraph.com/query/YOUR_ID/irsb-protocol/version/latest
# Hosted Service: https://api.thegraph.com/subgraphs/name/intentsolutionsio/irsb-protocol
NEXT_PUBLIC_SUBGRAPH_URL=https://api.thegraph.com/subgraphs/name/intentsolutionsio/irsb-protocol
